<a href="https://colab.research.google.com/github/hrcn81/IITRPR_AI_25010031/blob/main/IITRPR_02_27_01_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write python program to sdisplay number from 1 to 100

for i in range(1,100+1):
    print(i,end= ' ')

In [ ]:
# prompt: python program to write 1 to 100

# Write python program to sdisplay number from 1 to 100

for i in range(1,100+1):
    print(i,end= ' ')

In [ ]:
# prompt: print number 100 to 1

for i in range(100, 0, -1):
    print(i, end=' ')

In [ ]:
# prompt: print table of 2 in form of 2 x 1 = 2 also aligh numbers

for i in range(1, 11):
  print(f"2 x {i:2} = {2*i:2}")

In [ ]:
# prompt: print program to give even number from 1 to 10

for i in range(2, 11, 2):
# i
  print(i)